

header {
    background-color: #333;
    color: white;
    padding: 10px;
   
    display: flex;
    
    align-items: center;
    
}

.header-container {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 50px;
    height:100px;
    font-weight: bold;
    margin-left:480px;
    margin-top:35px;

}

.drawer-icon {
    font-size: 60px;
    cursor: pointer;
    justify-content:flex-start;
    
   
}

.drawer {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    justify-content:flex-start;
    background-color: #B8B8B8;
    padding: 5px;
    z-index: 1;
    text-align:center;
    width:250px;
    height:400px;
    justify-content:space-evenly;

}

.drawer-item {
    color:#333;
    padding: 10px;
    font-size:20px;
    cursor: pointer;
}

.main-content {
    padding: 20px;
}
/* styles.css */

body {
    width: 1500px;
            height: 1200px;
            background: url("https://th.bing.com/th/id/OIP.05V0zIDDDlEe0jUzG0AbGwHaFj?")center center no-repeat;
            background-size: cover;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 100px;
}

#search-bar {
    text-align: center;
    margin-bottom: 20px;
}

#search {
    padding: 10px;
    width: 60%;
}

#book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto;
}

.book-entry {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 10px;
    width: 150px;
    text-align: center;
}

.book-entry img {
    max-width: 100%;
    border-radius: 4px;
}

#order-form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 300px;
    text-align: center;
    display: none;
}

#order-details-form {
    text-align: left;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}
title{
    justify-content:center;
}

/* Add more styles as needed */
a{
    text-decoration: none;
}