/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color:#92a1cf   
    
}

/* Header Styles */
header {
    background-color: #333;
    color: white;
    justify-content:center;
    display: flex;
    align-items: center;
    height:90px;
}


.header-container {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
}

.drawer-icon {
    font-size: 30px;
    cursor: pointer;
    margin-left: 1px;
    margin-right: 20px;
}

.drawer {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #B8B8B8;
    padding: 5px;
    z-index: 1;
    text-align: center;
    width: 100%;
}

.drawer-item {
    color: #333;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* Main Content Styles */
.main-content {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 50px;
    
}

#search-bar {
    text-align: center;
    
    margin-bottom: 20px;
}

#search {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;

}

#book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.book-entry {
    background-color: hwb(0 90% 8%);
    border-radius: 8px;
    box-shadow: 0 0 10px #160a0a1a;
    margin: 20px;
    padding: 10px;
    width: calc(33.33% - 40px);
    text-align: center;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease; /* Add transition for smooth animation */
}

.book-entry:hover {
    box-shadow: 0 0 20px #202020d3; /* Add a subtle shadow on hover */
    transform: scale(1.05); /* Enlarge the element on hover for a 3D effect */
}



.book-entry img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

#order-form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

#order-details-form {
    text-align: left;
}



button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
    .logo {
        font-size: 24px;
        margin-left: 10px;
    }

    .drawer-icon {
        font-size: 24px;
        margin-right: 10px;
    }

    .drawer {
        width: 100%;
    }

    .book-entry {
        width: calc(50% - 40px);
    }
}

@media screen and (max-width: 480px) {
    .book-entry {
        width: 100%;
    }
}



